* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Manrope", sans-serif;
  background-color: #F6F7F8;
  margin: 0;
  padding: 1em;
  color: #072635;
  font-size: 14px;
  
  /* height: 100vh; */
}

.app-container {
  display: grid;
  grid-template-rows: 1fr 4fr 0.1fr 1.5fr;
  grid-template-columns: 1fr 2.5fr 1fr;
  grid-template-areas: 
    "header header header"
    "patients history patient-detail"
    "patients list patient-detail"
    "patients list results";
  grid-gap: 1em;
  max-height: 100vh;
  padding: 0.5em;
}