.diagnostic-list {
  background-color: #FFFFFF;
  padding: 1em;
  grid-area: list;
  border-radius: 10px;
}

.diagnostic-list h2 {
  margin: 0.5em auto 1em auto;
}

.table-wrapper {
  overflow-y: scroll;
  max-height: 70%;
  scrollbar-width: thin;
  scrollbar-color: #888888 #E3E4E6;
}

table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
}

thead tr th {
  position:sticky;
  top: 0;
  background-color: #F6F7F8;
}

tbody {
  margin-top: 2em;
}
th{
  padding: 0.5em 1em;
}
td {
  padding: 1em;
} 