.lab-results-container {
  background-color: #FFFFFF;
  padding: 1em;
  grid-area: results;
}

.lab-results-container h2{
  /* margin-bottom: 1em; */
}
.lab-result-inner {
  overflow-y: auto;
  max-lines: 2;
  padding: 0 0.8em;
}

.lab-result-inner-record {
  display: flex;
  justify-content: space-between;
  margin: 1.5em 0;
}