.patients-list-container {
  width: 300px;
  background-color: #FFFFFF;
  grid-area: patients;

}

.patients-list-container .patients-list-title {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
}

.patients-details {
  height: 80vh;
  padding: 0.5em 1em;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #888888 #E3E4E6;
}

.patient-tile {
  display: flex;
  justify-content: space-between;
  padding: 0.8em 0;
}

.patient-icon-details {
  display: flex;
  align-items: center;
  gap: 1em;
}

.patient-tile .person-icon {
  width: 40px;
  height: 40px;
}

.patient-tile p {
  margin: 0;
}

.patient-tile .name {
  font-weight: 700;
}

.patient-tile .gender {
  color: #707070;
}

.person-tile img {
  margin-left: auto;
}